.logo{
    line-height: 90px;
    padding-left: 20px;
    background-color: #001529;
    img{
        height: 35px;
    }
    h1{
        float:right;
        margin-right: 70px;
        color:#ffffff;
        font-size: 25px;
        letter-spacing: 2px;
    }
}