.header{
    .header-top{
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        a{
            margin-left: 30px;
        }
    }
    .breadcrumb{
        line-height: 40px;
        padding: 0 20px;
        border-top: 2px solid #1890FF;
        .breadcrumb-title{
            text-align: center;
        }
        .weather{
            text-align: right;
            .date{
                margin-right: 8px;
                color:#666;
            }
            i{
                display: inline-block;
                width: 30px;
                line-height: 22px;
                margin-right: 5px;
                border-radius: 4px;
                background-image: linear-gradient(#c359e4,#788de9);
                color: #ffffff;
                font-size: 17px;
                text-align: center;
            }
        }
    }
}