@import './default.less';
.container{
    .nav-left{
        height:calc(100vh);
        background-color: #001529;
    }
    .main{
        overflow: auto;
        height: calc(100vh);
        background-color: @colorL;
        .content{
            position: relative;
            padding: 20px;
        }
    }
}